<footer class="footer-wrapper">

    <div class="footer-container container">
        <div class="footer-column four columns section" id="footer-widget-1">
            <div class="widget HTML">
                <h2 class="title">Recherche rapide</h2>
                <hr />
                <div class="widget-content simplesearch">
                    {% include 'partials/simplesearch_searchbox.html.twig' %}
                </div>
            </div>
        </div>
        <div class="footer-column four columns section" id="footer-widget-2">
            <div class="widget HTML">
                <h2 class="title">Newsletter</h2>
                <hr />
                <div class="widget-content newsletter-subscribe">
                    <p>Pour être au courant de l'arrivée de nouveaux articles et de toutes nos avancées, inscrivez-vous à notre newsletter :</p> 
                    <a href="https://www.sheaft.com/#mc_embed_signup" target="_blank"><span class="btn-footer">S'inscrire</span></a>
                </div>
            </div>
        </div>
        <div class="footer-column four columns section" id="footer-widget-3">
            <div class="widget HTML">
                <h2 class="title">Nous suivre sur les réseaux</h2>
                <hr />
                <div class="widget-content follow-socials">
                        <a class="social-shortcode" href="https://www.facebook.com/sheaftapp/" target="_blank"><img src="{{ theme_url }}/images/facebook.png" alt="Facebook" /></a>
                        <a class="social-shortcode" href="https://www.instagram.com/sheaft_app/?hl=fr" target="_blank"><img src="{{ theme_url }}/images/instagram.png" alt="Instagram" /></a>
                        <a class="social-shortcode" href="https://www.linkedin.com/company/sheaft/?originalSubdomain=fr" target="_blank"><img src="{{ theme_url }}/images/linkedin.png" alt="LinkedIn" /></a>
                        <a class="social-shortcode" href="https://www.youtube.com/channel/UC1YlSA4EMXD9rTLBD88rakQ" target="_blank"><img src="{{ theme_url }}/images/youtube.png" alt="YouTube" /></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="copyright-wrapper">
        <div class="copyright-container container">
            <div class="copyright-left">
                {% if site.copyright %}
                    © {{ site.copyright.year }} {{ site.copyright.text1 }} | <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.text2}}</a>
                {% endif %}
                {% if site.copyright2 %}
                    {{ site.copyright2.text1 }} <a href="{{ site.copyright2.url }}">{{ site.copyright2.text2}}</a>
                {% endif %}
            </div>
            <div class="copyright-right">
                <span id="mycontent">
                    Design original de <a href="http://www.soratemplates.com/" target="_blank" title="Blogger Templates">Sora Templates</a> et <a href="http://mybloggerthemes.com/" target="_blank" title="Free Blogger Templates">My Blogger Themes</a> - Icônes par <a href="https://icons8.com/" target="_blank">icons8.com</a>
                </span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>